@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html>
<head>
    <title>HU SPRINT</title>
</head>
</html>

<html lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="HU SPRINT" />
    <title>HU SPRINT</title>
    <script src="modernizr-1.5.js"></script>
    <link href="~/Styles/CSS/stylesheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="header">
    </div>
    <nav class="horizontalNAV">
        <li><a href="Home.html">Home</a></li>
        <li><a href="Monitor Papers.html">Monitor Papers</a></li>
        <li><a href="Place Orders.html">Place Orders</a></li>
        <li><a href="Help.html">Help</a></li>
        <li><a href="Contact Us.html">Contact Us</a></li>
        <div align="left">
            <p><strong>Questions/Technical issues?</strong></p>
            <ul>
                1. Send an email to
                <a href="mailto:printservices@HU.com">printservices@HU.com</a> with student ID in subject line.
                <br>
                2. call: (899) 832 - 1789
            </ul>
            <p style="padding-left: 30px;">&nbsp;</p>
        </div>
</body>
</html>