@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>HU SPRINT</title>
</head>
</html>

<html lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="HU SPRINT" />
    <title>HU SPRINT</title>
    <script src="modernizr-1.5.js"></script>
    <link href="~/Styles/CSS/stylesheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="header">
    </div>
    <center>
            <hgroup>
                <p><font size="6">
                <p style="text-align: center;"><strong>Welcome to <span style="color: #ff0000;">SPRINT</span></strong></p></font></p>
                <p style="text-align: center;">This <span style="color: #ff0000;">S</span>tudent <span style="color: #ff0000;">PRINT</span> Portal can be used by HU students to place print orders across campus printers</p>
            </hgroup>
            <img src="~/Styles/Images/HU Logo.jpg" />
            <p class="p3"> Student ID:<textarea rows="1" cols="15"></textarea></p>
            <p class="p3"> Password:<textarea rows="1" cols="15"></textarea></p>
            <button type="button">Login</button>
            <p>&nbsp;</p>
    </center>
</body>
</html>