@{
    ViewBag.Title = "Papers";
}

<!DOCTYPE html>
<html>
<head>
    <title>HU SPRINT</title>
</head>
</html>

<html lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="HU SPRINT" />
    <title>HU SPRINT</title>
    <script src="modernizr-1.5.js"></script>
    <link href="~/Styles/CSS/stylesheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="header">
    </div>
    <center>
        <nav class="horizontalNAV">
            <li><a href="Home.html">Home</a></li>
            <li><a href="Monitor Papers.html">Monitor Papers</a></li>
            <li><a href="Place Orders.html">Place Orders</a></li>
            <li><a href="Help.html">Help</a></li>
            <li><a href="Contact Us.html">Contact Us</a></li>
            <hgroup>
                <p>&nbsp;</p>
                <style>
                    table, th, td {
                        border: 1px solid black;
                    }
                </style>
                <table style="height: 5px; margin-left: auto; margin-right: auto;" width="256">
                    <tbody>
                        <tr>
                            <td style="width: 195px;">
                                <p><strong>Available pages to print:</strong></p>
                            </td>
                            <td style="border-color: #000000; background-color: #36e617; width: 45px; height: 5px;"><strong>303</strong></td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <table style="border-color: #000000; height: 150px; width: 555px; margin-left: auto; margin-right: auto;">
                    <tbody>
                        <tr style="height: 19px;">
                            <td style="width: 545px; border-color: #000000; height: 19px; background-color: #ffbb00; text-align: center; vertical-align: middle;" colspan="4"><strong>History of Submitted papers</strong></td>
                        </tr>
                        <tr style="height: 17px;">
                            <td style="width: 155px; border-color: #000000; text-align: center; vertical-align: middle; height: 17px;"><strong>Date time</strong></td>
                            <td style="width: 139px; border-color: #000000; text-align: center; height: 17px;"><strong>Papers remaining</strong></td>
                            <td style="width: 110px; border-color: #000000; text-align: center; height: 17px;"><strong>Papers added</strong></td>
                            <td style="width: 123px; border-color: #000000; text-align: center; height: 17px;"><strong>Total Available</strong></td>
                        </tr>
                        <tr style="height: 17px;">
                            <td style="width: 155px; border-color: #000000; text-align: left; height: 17px;">06/12/2018 4:30 PM</td>
                            <td style="width: 139px; border-color: #000000; text-align: left; height: 17px;">30</td>
                            <td style="width: 110px; border-color: #000000; text-align: left; height: 17px;">500</td>
                            <td style="width: 123px; border-color: #000000; text-align: left; height: 17px;">530</td>
                        </tr>
                        <tr style="height: 17px;">
                            <td style="width: 155px; border-color: #000000; text-align: left; height: 17px;">04/03/2018 4:00 PM</td>
                            <td style="width: 139px; border-color: #000000; text-align: left; height: 17px;">77</td>
                            <td style="width: 110px; border-color: #000000; text-align: left; height: 17px;">500</td>
                            <td style="width: 123px; border-color: #000000; text-align: left; height: 17px;">577</td>
                        </tr>
                        <tr style="height: 17px;">
                            <td style="width: 155px; border-color: #000000; text-align: left; height: 17px;">01/02/2018 1:00 PM</td>
                            <td style="width: 139px; border-color: #000000; text-align: left; height: 17px;">0</td>
                            <td style="width: 110px; border-color: #000000; text-align: left; height: 17px;">500</td>
                            <td style="width: 123px; border-color: #000000; text-align: left; height: 17px;">500</td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
    </center>
</body>
</html>